<div id="<%= dom_id academic_year %>">
  <p>
    <strong>Name:</strong>
    <%= academic_year.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= academic_year.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= academic_year.end_date %>
  </p>

</div>
