<h1>Editing academic year</h1>

<%= render "form", academic_year: @academic_year %>

<br>

<div>
  <%= link_to "Show this academic year", @academic_year %> |
  <%= link_to "Back to academic years", academic_years_path %>
</div>
