<div id="<%= dom_id subject %>">
  <p>
    <strong>Compulsory:</strong>
    <%= subject.compulsory %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Crucial:</strong>
    <%= subject.crucial %>
  </p>

</div>
